Pandas:

In [ ]:
import pandas as pd

In [ ]:
#Series Creation method
value_list= [1,2,3,4,5]
ser = pd.Series(value_list, index = ["a","b","c","d","e"])
print(ser)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
 #Data Frame Creation Method
value_list= [1,2,3,4,5]                                         #Data Frame Creation Method
df = pd.DataFrame(value_list, index = ["a","b","c","d","e"], columns = ["Col_A"])
print(df)

   Col_A
a      1
b      2
c      3
d      4
e      5

Data Filtering:

In [ ]:
#Data Filtering :

#Boolean Indexing
value_list= [1,2,3,4,5]
df = pd.DataFrame(value_list, index = ["a","b","c","d","e"], columns = ["Col_A"])
print(df)
print("\n")

filtered_df = df[df["Col_A"]>3]
print(filtered_df)

   Col_A
a      1
b      2
c      3
d      4
e      5


   Col_A
d      4
e      5

In [ ]:
#using SQL query
df.query()

In [ ]:
# using df.loc
value_list= [1,2,3,4,5]
df = pd.DataFrame(value_list, index = ["a","b","c","d","e"], columns = ["Col_A"])
print(df)
print("\n")

filtered_df = df.loc[df["Col_A"]>2]
print(filtered_df)

   Col_A
a      1
b      2
c      3
d      4
e      5


   Col_A
c      3
d      4
e      5

In [ ]:
# using df.iloc
value_list= [1,2,3,4,5]
df = pd.DataFrame(value_list, index = ["a","b","c","d","e"], columns = ["Col_A"])
print(df)
print("\n")

filtered_df = df.iloc[0:2,:]
print(filtered_df)

   Col_A
a      1
b      2
c      3
d      4
e      5


   Col_A
a      1
b      2

In [ ]:
# using .isin()
value_list= [1,2,3,4,5]
df = pd.DataFrame(value_list, index = ["a","b","c","d","e"], columns = ["Col_A"])
print(df)
print("\n")

filtered_df = df[df["Col_A"].isin([1,4])]
print(filtered_df)

   Col_A
a      1
b      2
c      3
d      4
e      5


   Col_A
a      1
d      4

In [ ]:
# where method
value_list= [1,2,3,4,5]
df = pd.DataFrame(value_list, index = ["a","b","c","d","e"], columns = ["Col_A"])
print(df)
print("\n")

filtered_df = df.where(df["Col_A"]>3)
print(filtered_df)

   Col_A
a      1
b      2
c      3
d      4
e      5


   Col_A
a    NaN
b    NaN
c    NaN
d    4.0
e    5.0

In [ ]:
# mask method (masking)
value_list= [1,2,3,4,5]
df = pd.DataFrame(value_list, index = ["a","b","c","d","e"], columns = ["Col_A"])
print(df)
print("\n")

filtered_df = df.mask(df["Col_A"]<4, -100)
print(filtered_df)

   Col_A
a      1
b      2
c      3
d      4
e      5


   Col_A
a   -100
b   -100
c   -100
d      4
e      5

Value Counts use case:

In [ ]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

print(df["B"].value_counts())
print(df["B"].value_counts().values)
print(df["B"].value_counts().index)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10
B
5    1
4    1
3    1
2    1
1    1
Name: count, dtype: int64
[1 1 1 1 1]
Index([5, 4, 3, 2, 1], dtype='int64', name='B')

Data Modification:

In [ ]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10

In [ ]:
#Adding new column
df["E"]=[60,70,80,90,100]
print(df)

   A  B   C   D    E
0  1  5  10  50   60
1  2  4  20  40   70
2  3  3  30  30   80
3  4  2  40  20   90
4  5  1  50  10  100

In [ ]:
#Changing Values in column
df["E"]=df["E"] +2
print(df)

   A  B   C   D    E
0  1  5  10  50   62
1  2  4  20  40   72
2  3  3  30  30   82
3  4  2  40  20   92
4  5  1  50  10  102

In [ ]:
#Rename Column
df.rename(columns = {"E": "changed_E","A": "changed_A"}, inplace = True)
print(df)

   changed_A  B   C   D  changed_E
0          1  5  10  50         62
1          2  4  20  40         72
2          3  3  30  30         82
3          4  2  40  20         92
4          5  1  50  10        102

In [ ]:
#Dropping rows
df= df.drop(df[df["B"]<3].index)
print(df)

   changed_A  B   C   D  changed_E
0          1  5  10  50         62
1          2  4  20  40         72
2          3  3  30  30         82

In [ ]:
#Dropping columns
df = df.drop(["C"])
print(df)

   changed_A   D  changed_E
0          1  50         62
1          2  40         72
2          3  30         82

In [ ]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10

In [ ]:
#Sorting values of a column
df=df.sort_values(["B"])
print(df)

   B   C   D
4  1  50  10
3  2  40  20
2  3  30  30
1  4  20  40
0  5  10  50

In [ ]:
#resetting index values
df=df.reset_index()
print(df)

   index  B   C   D
0      4  1  50  10
1      3  2  40  20
2      2  3  30  30
3      1  4  20  40
4      0  5  10  50

In [ ]:
data_with_nans = {
    'A': [1, 2, None, 4, 5],
    'B': [5, None, 3, 2, 1],
    'C': [10, 20, 30, None, 50],
    'D': [50, 40, None, 20, 10]
}

df_nans = pd.DataFrame(data_with_nans)
print(df_nans)

     A    B     C     D
0  1.0  5.0  10.0  50.0
1  2.0  NaN  20.0  40.0
2  NaN  3.0  30.0   NaN
3  4.0  2.0   NaN  20.0
4  5.0  1.0  50.0  10.0

In [ ]:
#fill missing values
df_nans=df_nans.fillna("A")
print(df_nans)

     A    B     C     D
0  1.0  5.0  10.0  50.0
1  2.0    A  20.0  40.0
2    A  3.0  30.0     A
3  4.0  2.0     A  20.0
4  5.0  1.0  50.0  10.0

In [ ]:
#Dropping rows with missing values
data_with_nans = {
    'A': [1, 2, None, 4, 5],
    'B': [5, None, 3, 2, 1],
    'C': [10, 20, 30, None, 50],
    'D': [50, 40, None, 20, 10]
}

df_nans = pd.DataFrame(data_with_nans)
print(df_nans)

df_nans = df_nans.dropna()
print(df_nans)

     A    B     C     D
0  1.0  5.0  10.0  50.0
1  2.0  NaN  20.0  40.0
2  NaN  3.0  30.0   NaN
3  4.0  2.0   NaN  20.0
4  5.0  1.0  50.0  10.0
     A    B     C     D
0  1.0  5.0  10.0  50.0
4  5.0  1.0  50.0  10.0

In [ ]:
#replace values in dataframe
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

df=df.replace({1:100,5:500})
print(df)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10
     A    B   C   D
0  100  500  10  50
1    2    4  20  40
2    3    3  30  30
3    4    2  40  20
4  500  100  50  10

In [ ]:
#Updating a dataframe
data_with_nans = {
    'A': [1, 2, None, 4, 5],
    'B': [5, None, 3, 2, 1],
    'C': [10, 20, 30, None, 50],
    'D': [50, 40, None, 20, 10]
}

df_nans = pd.DataFrame(data_with_nans)
print(df_nans)


data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

df_nans.update(df)

print(df_nans)

     A    B     C     D
0  1.0  5.0  10.0  50.0
1  2.0  NaN  20.0  40.0
2  NaN  3.0  30.0   NaN
3  4.0  2.0   NaN  20.0
4  5.0  1.0  50.0  10.0
   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10
     A    B     C     D
0  1.0  5.0  10.0  50.0
1  2.0  4.0  20.0  40.0
2  3.0  3.0  30.0  30.0
3  4.0  2.0  40.0  20.0
4  5.0  1.0  50.0  10.0

In [ ]:
#inserting new column in existing dataframe
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

new_values=[11,22,33,44,55]
df.insert(loc=1,column="New",value=new_values)
print(df)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10
   A  New  B   C   D
0  1   11  5  10  50
1  2   22  4  20  40
2  3   33  3  30  30
3  4   44  2  40  20
4  5   55  1  50  10

In [ ]:
#coverting datatype of column values
df["A"]=df["A"].astype(float)
print(df)

     A  New  B   C   D
0  1.0   11  5  10  50
1  2.0   22  4  20  40
2  3.0   33  3  30  30
3  4.0   44  2  40  20
4  5.0   55  1  50  10

Sorting Methods:

In [ ]:
#Sorting Index of DataFrame
 data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

print("\n")
df=df.sort_values(["B"])
print(df)

print("\n")
df.sort_index(inplace=True)
print(df)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10


   A  B   C   D
4  5  1  50  10
3  4  2  40  20
2  3  3  30  30
1  2  4  20  40
0  1  5  10  50


   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10

In [ ]:
#Assigning rank to column
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)
print("\n")
df["Rank_Col_C"]=df["C"].rank()
print(df)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10


   A  B   C   D  Rank_Col_C
0  1  5  10  50         1.0
1  2  4  20  40         2.0
2  3  3  30  30         3.0
3  4  2  40  20         4.0
4  5  1  50  10         5.0

In [ ]:
#Setting Index
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df = pd.DataFrame(data)
print(df)

print("\n")


df=df.set_index(["A"])
print(df)

   A  B   C   D
0  1  5  10  50
1  2  4  20  40
2  3  3  30  30
3  4  2  40  20
4  5  1  50  10


   B   C   D
A
1  5  10  50
2  4  20  40
3  3  30  30
4  2  40  20
5  1  50  10

Grouping Data:

In [ ]:
#Grouping data w.r.t a column:

data_for_groupby = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'C', 'A', 'B', 'C'],
    'Value1': [10, 20, 10, 20, 10, 20, 30, 30, 30],
    'Value2': [1, 2, 3, 4, 5, 6, 7, 8, 9]
}

df_groupby = pd.DataFrame(data_for_groupby)
print(df_groupby)

print("\n")

df_groupby = df_groupby.groupby(["Value1"])

print(df_groupby)
print("\n")
print(df_groupby.size( ))
print("\n")
most_val=df_groupby["Value1"].sum()
print(most_val)
print("\n")
most_idx=df_groupby["Value1"].idxmax()
print(most_idx)

  Category  Value1  Value2
0        A      10       1
1        A      20       2
2        B      10       3
3        B      20       4
4        C      10       5
5        C      20       6
6        A      30       7
7        B      30       8
8        C      30       9


<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7a1daa47b4f0>


Value1
10    3
20    3
30    3
dtype: int64


Value1
10    30
20    60
30    90
Name: Value1, dtype: int64


Value1
10    0
20    1
30    6
Name: Value1, dtype: int64

Data Joining:

In [ ]:
#Data Concatenation:
data1 = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1)

data2 = {
    'A': [10, 20, 30, 40, 50],
    'B': [50, 40, 30, 20, 10],
    'C': [100, 200, 300, 400, 500],
    'D': [500, 400, 300, 200, 100]
}

df2 = pd.DataFrame(data2)

concatenated_df=pd.concat([df1,df2],ignore_index =True)   #gets index in proper order when both dataframe are concatenated
#concatenated_df= concatenated_df.reset_index()
#result_df= result_df.drop(["index"])
print(concatenated_df)

    A   B    C    D
0   1   5   10   50
1   2   4   20   40
2   3   3   30   30
3   4   2   40   20
4   5   1   50   10
5  10  50  100  500
6  20  40  200  400
7  30  30  300  300
8  40  20  400  200
9  50  10  500  100

In [ ]:
#Data Merging on basis of common column
data1 = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1)

data2 = {
    'A': [10, 20, 30, 40, 50],
    'B': [50, 40, 30, 20, 10],
    'C': [10, 20, 30, 40, 50],
    'D': [500, 400, 300, 200, 100]
}

df2 = pd.DataFrame(data2)

merged_df = pd.merge(df1,df2,on="C")
print(merged_df)

   A_x  B_x   C  D_x  A_y  B_y  D_y
0    1    5  10   50   10   50  500
1    2    4  20   40   20   40  400
2    3    3  30   30   30   30  300
3    4    2  40   20   40   20  200
4    5    1  50   10   50   10  100

In [ ]:
#Joining DataFrames
data1 = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1,index=['a','b','c','d','e'])

data2 = {
    'E': [10, 20, 30, 40, 50],
    'F': [50, 40, 30, 20, 10],
    'G': [10, 20, 30, 40, 50],
    'H': [500, 400, 300, 200, 100]
}

df2 = pd.DataFrame(data2,index=['a','b','c','d','e'])
print(df1)
print("\n")
print(df2)
print("\n")
joined_df = df1.join(df2)
print(joined_df)

   A  B   C   D
a  1  5  10  50
b  2  4  20  40
c  3  3  30  30
d  4  2  40  20
e  5  1  50  10


    E   F   G    H
a  10  50  10  500
b  20  40  20  400
c  30  30  30  300
d  40  20  40  200
e  50  10  50  100


   A  B   C   D   E   F   G    H
a  1  5  10  50  10  50  10  500
b  2  4  20  40  20  40  20  400
c  3  3  30  30  30  30  30  300
d  4  2  40  20  40  20  40  200
e  5  1  50  10  50  10  50  100

In [ ]:
#Appending DataFrame:
data1 = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1)

data2 = {
    'A': [10, 20, 30, 40, 50],
    'B': [50, 40, 30, 20, 10],
    'C': [10, 20, 30, 40, 50],
    'D': [500, 400, 300, 200, 100]
}

df2 = pd.DataFrame(data2)

appended_df=df1.append(df2, ignore_index=True)
print(appended_df)

AttributeError: 'DataFrame' object has no attribute 'append'

Data Analysis and Statistics:

In [10]:
import pandas as pd
data1 = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1,index=['a','b','c','d','e'])
print(df1)
print("\n")
description = df1.describe()
print(description)

print("\n")
print(df1.info())
print(df1.mean())
print(df1.median())
print(df1.mode())
print(df1.std())
print(df1.var())
print(df1.skew())
print(df1.kurt())

quantile = df1.quantile(q=[0.25,0.5,0.75])
print(quantile)

print(df1.corr())
print("\n")
print(df1.cov())

   A  B   C   D
a  1  5  10  50
b  2  4  20  40
c  3  3  30  30
d  4  2  40  20
e  5  1  50  10


              A         B          C          D
count  5.000000  5.000000   5.000000   5.000000
mean   3.000000  3.000000  30.000000  30.000000
std    1.581139  1.581139  15.811388  15.811388
min    1.000000  1.000000  10.000000  10.000000
25%    2.000000  2.000000  20.000000  20.000000
50%    3.000000  3.000000  30.000000  30.000000
75%    4.000000  4.000000  40.000000  40.000000
max    5.000000  5.000000  50.000000  50.000000


<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
 3   D       5 non-null      int64
dtypes: int64(4)
memory usage: 200.0+ bytes
None
A     3.0
B     3.0
C    30.0
D    30.0
dtype: float64
A     3.0
B     3.0
C    30.0
D    30.0
dtype: float64
   A  B   C   D
0  1  1  10  10
1  2  2  20  20
2  3  3  30  30
3  4  4  40  40
4  5  5  50  50
A     1.581139
B     1.581139
C    15.811388
D    15.811388
dtype: float64
A      2.5
B      2.5
C    250.0
D    250.0
dtype: float64
A    0.0
B    0.0
C    0.0
D    0.0
dtype: float64
A   -1.2
B   -1.2
C   -1.2
D   -1.2
dtype: float64
        A    B     C     D
0.25  2.0  2.0  20.0  20.0
0.50  3.0  3.0  30.0  30.0
0.75  4.0  4.0  40.0  40.0
     A    B    C    D
A  1.0 -1.0  1.0 -1.0
B -1.0  1.0 -1.0  1.0
C  1.0 -1.0  1.0 -1.0
D -1.0  1.0 -1.0  1.0


      A     B      C      D
A   2.5  -2.5   25.0  -25.0
B  -2.5   2.5  -25.0   25.0
C  25.0 -25.0  250.0 -250.0
D -25.0  25.0 -250.0  250.0

Input and Output:

In [ ]:
#Input methods:
df=pd.read_csv()
df=pd.read_excel()
df=pd.read_json()
df=pd.read_html()


df=pd.read_sql()
import sqlite3
conn = sqlite3.connect('database.db')
query= "SELECT * FROM table_name"
df=pd.read_sql(query,conn)


#Output methods:
df.to_csv()
df.to_excel()
df.to_json()
df.to_html()

df.to_sql()

Data Retrieval:

In [48]:
data1 = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1,index=['a','b','c','d','e'])
print(df1.sample(3))
print("\n")

print(df1.head(3))
print("\n")

print(df1.tail(3))
print("\n")

print(df1.to_string())

print("\n")
print(type(df1))

   A  B   C   D
c  3  3  30  30
b  2  4  20  40
d  4  2  40  20


   A  B   C   D
a  1  5  10  50
b  2  4  20  40
c  3  3  30  30


   A  B   C   D
c  3  3  30  30
d  4  2  40  20
e  5  1  50  10


   A  B   C   D
a  1  5  10  50
b  2  4  20  40
c  3  3  30  30
d  4  2  40  20
e  5  1  50  10


<class 'pandas.core.frame.DataFrame'>

Date and Time Operations:

In [18]:

# Create a sample DataFrame with dates as strings
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'date': ['2023-01-01', '2023-02-15', '2023-03-20']
}

df = pd.DataFrame(data)
print(df)
print("\n")
print(df.dtypes)
print("\n")
df["date"]=pd.to_datetime(df["date"])
print(df)
print("\n")
print(df.dtypes)


#pd.to_timedelta()
pd.todate_range(start="2023-01-01",periods=3)

      name        date
0    Alice  2023-01-01
1      Bob  2023-02-15
2  Charlie  2023-03-20


name    object
date    object
dtype: object


      name       date
0    Alice 2023-01-01
1      Bob 2023-02-15
2  Charlie 2023-03-20


name            object
date    datetime64[ns]
dtype: object

TypeError: to_timedelta() missing 1 required positional argument: 'arg'

Copying / Viewing Data:

In [23]:
data1 = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1,index=['a','b','c','d','e'])
print(df1)

df2=df1.copy()
print(df2)

df3=df1.view()
print(df3)

   A  B   C   D
a  1  5  10  50
b  2  4  20  40
c  3  3  30  30
d  4  2  40  20
e  5  1  50  10
   A  B   C   D
a  1  5  10  50
b  2  4  20  40
c  3  3  30  30
d  4  2  40  20
e  5  1  50  10

AttributeError: 'DataFrame' object has no attribute 'view'

Miscellaneous Methods:

In [29]:
#Unique Values

data1 = {
    'A': [1, 3, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [10, 20, 30, 40, 50],
    'D': [50, 40, 30, 20, 10]
}

df1 = pd.DataFrame(data1,index=['a','b','c','d','e'])
print(df1)

unique_val_A=df1["A"].unique()
print(unique_val_A)

   A  B   C   D
a  1  5  10  50
b  3  4  20  40
c  3  3  30  30
d  4  2  40  20
e  5  1  50  10
[1 3 4 5]

In [31]:
#Value Counts
total_val_count=df1["A"].value_counts()
print(total_val_count)

A
3    2
1    1
4    1
5    1
Name: count, dtype: int64

In [38]:
#is_na
import numpy as np
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [25, np.nan, 30, np.nan, 22],
    'city': ['New York', 'Los Angeles', np.nan, 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print(df)
print("\n")
df_with_na=df.isnull()

print(df.isnull().sum())
print("\n")
print(df_with_na)

      name   age         city
0    Alice  25.0     New York
1      Bob   NaN  Los Angeles
2  Charlie  30.0          NaN
3    David   NaN      Chicago
4      Eve  22.0      Houston


name    0
age     2
city    1
dtype: int64


    name    age   city
0  False  False  False
1  False   True  False
2  False  False   True
3  False   True  False
4  False  False  False

In [43]:
#Duplicate values
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'age': [25, 30, 35, 25, 30],
    'city': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles']
}

df = pd.DataFrame(data)
print(df)
print("\n")
duplicate_values=df.duplicated()
print(duplicate_values)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    Alice   25     New York
4      Bob   30  Los Angeles


0    False
1    False
2    False
3     True
4     True
dtype: bool

In [44]:
#Drop_Duplicates
df_unique=df.drop_duplicates()
print(df_unique)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago